/* style for form background color  */
.form-bg{
    background-color: #fedcdb;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    outline: none;
}

/* navlink style  */
.link{
    text-decoration: none;
    color: black;
    background-color: #feb1b2;
    padding: 10px;
    border-radius: 5px;
}

/* error messages style  */
.errors-msg{
    font-size: 12px;
}

/* responsive  */
@media (max-width: 991.98px) {
    .form-control::placeholder, option, .form-select{
        font-size: 12px;
    }

    .form-label{
        font-size: 14px;
    }
}
