.navbar{
    background-color: #fd788b;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav-item {
    text-transform: uppercase;
    font-size: 22px;
}

.signup-link, .login-link {
    color: black;
}

.signup-link:hover, .login-link:hover{
    text-decoration: none;
}

@media (max-width: 991.98px) { /* Target tablet screens */
    .nav-item{
        font-size: 18px;
    }
}

@media (max-width: 768px) { /* target phone screen */
    .nav-item{
        font-size: 16px;
    }
}
